.search-form{
    max-width:680px;
    margin:15px auto;
}
.search-input-group{
    position: relative;
}
.search-form .form-control,
.search-form .btn{
    height:60px;
    font-weight:300;
    font-size: 16px;
    color: #000000;
    line-height: 20px;
    background: #FFFFFF;
    border-color:#758393;
}
.search-form .btn,
.search-form .btn:focus,
.search-form .btn:active{
    border-left-width:0;
    outline-width:0;
    color: #222222;
    line-height: 17px;
    font-weight:500;
    text-align:left;
    min-width:200px;
    font-size:14px;
}
.search-input-group-btn{
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 1111;
}
ul.result-tabs{
    color:#5c5c5c;
    position: relative;
}
ul.result-tabs > li{
    display:inline-block;
    padding: 8px 15px;
    cursor:pointer;
    border:1px solid transparent;
    border-top-width:2px;
    border-bottom:none;
}
ul.result-tabs > li:hover{
    color:black;
}
ul.result-tabs > li.active{
    background:white;
    color:#000000;
    border-color:#dadde0;
}
.result-container{
    background:white;
    border:1px solid #dadde0;
    margin:-1px 0 0;
    padding:10px 20px;
    line-height:21px;
}
.result-container > .result-name{
    color:#858484;
    font-size:20px;
    padding:0 0 20px;
    text-align:right;
}
.result-container > .result-name > span{
    color:#000000;
}
.result-container > div > .result{
    border-bottom:1px solid #eeeeee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.result-container > div > .result:last-child{
    border-bottom:none;
    padding:0;
}
.result-container > div > .result h3{
    font-size: 18px;
    color:#265fa9;
}
.result-container > div > .result > p > em{
    background:#ffd93f;
    font-style:normal;
}
.result-container > div > .result span.link{
    color:#b0afaf;
    font-size:13px;
    word-break:break-all;
}
.result-container .st-page{
    text-align:right;
}
.result-container .st-page a{
    margin:0 10px;
}
.result-container .no-result{
    color:#000;
    font-size:22px;
    padding:0;
    text-align:center;
    display:inline-block;
    width:100%;
    margin:30px 0;
}
.search-result-block{
    margin: 50px 0;
}
.search-result{
    margin-bottom:30px;
}
.search-result-filter{
    display:none;
    font-size: 20px;
    color: #575553;
    margin-bottom: 50px;
    margin-top: 10px;
}
.search-result-filter > strong,
.search-result-heading > strong,
.search-result-heading > span,
.search-result-empty > span{
    color: #000;
}
.search-result-heading,
.search-result-empty{
    color: #999;
    font-size: 18px;
    margin-bottom: 30px;
}
.search-result > .tag{
    font-size: 12px;
    line-height: 14px;
    color:#858484;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 2px 6px;
}
.search-result > h6{
    font-weight: 700;
    font-size: 18px;
    color: #222222;
    line-height: 21px;
    margin-bottom: 5px;
}
.search-result > hr{
    width: 80px;
    margin: 0;
}
.search-result-loading{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    z-index: 1111;
    pointer-events:none;
}
.search-result-loading>span{
    border: 1px solid #9AA0A8;
    background: #fff url(../images/loading.gif)no-repeat 18px 14px;
    font-weight: bold;
    display: inline-block;
    padding: 12px 18px 12px 50px;
    margin-top:20%;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border-radius:5px;
}
/*swiftype override*/
.swiftype-widget .autocomplete li p{
    font-family: acumin-pro,helvetica,sans-serif;
    font-size: 15px;
    line-height: 18px;
    padding:8px 12px;
}
.swiftype-widget .autocomplete li.active{
    background: #21C489;
}
.swiftype-widget .autocomplete li.active p.title{
    color: #fff;
}
.st-prev,
.st-next{
    padding: 14px 45px;
    font-size: 18px;
}
.st-pre{
    margin-right: 20px;
}
@media (min-width: 768px){
    .search-form .form-control{
        padding-right: 300px;
    }
    .search-input-group-divider{
        width: 1px;
        height: 30px;
        background: #758393;
        display: block;
        position: absolute;
        z-index: 11;
        top: 0;
        bottom: 0;
        right: 200px;
        margin: auto;
    }
}
@media (max-width: 767px){
    .search-input-group-btn{
        top: 100%;
        background-color: #FFF;
        width: 100%;
        margin-top: -3px;
        border-radius: 0 0 4px 4px;
        border: 1px solid #758393;
    }
    .select2-hidden-accessible{
        width: auto;
        height: auto;
        clip: auto;
        opacity: 0;
    }
    .search-result-filter .select2-container{
        pointer-events: none;
    }
}